body, html {
  background-color: rgb(15, 15, 15);
  font-family: 'Courier New', Courier, monospace;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: rgb(25, 25, 25);
  display: inline-block;
  align-items: baseline;
  border-bottom: 2px solid rgb(212, 79, 134);
}

#logo {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 50px;
}

a {
  position: relative;
  display: inline;
  top: 20px;
  left: 70px;
  font-size: 14pt;
  text-decoration: none;
  color: white;
  margin: 5px;
}

.sections {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  background-color: rgb(15, 15, 15);
  z-index: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: -2;
}

.section {
  position: relative;
  width: 100%;
  top: 0px;
  height: 50%;
  margin: 0;
  padding: 10px;
  overflow: hidden;
}

#home {
  background-color: #FFDC00;
}

#quake {
  background-color: rgb(212, 79, 134);
  height: 550px;
}

h1{
  color: black;
  position: relative;
  top: 0;
  font-size: 18pt;
  font-family: Arial, Helvetica, sans-serif;
}

#heading {
  color: white;
}

p {
  position: relative;
  color: black;
  top: 0px;
  font-size: 12pt;
}

#history {
  color: white;
}

.codeblock {
width: 85%;
height: fit-content;
border-radius: 5px;
}

#list {
  background-color: rgb(15, 15, 15);
  height: auto;
  padding-bottom: 50px;
}